#Ignore all archives from Python Virtual Enviroment
venv/

# Ignore created pycache files
__pycache__/
*.pyc

#Pycharm
.idea/

#Ignore CSV databases
*.csv

#Ignore following extensions
*.xml
*.iml
*.pyc
